.update-block, .main-block, .wtr-header, .wtr-list, #geo-btn-block {
    display: flex;
    align-items: center;
}

.wtr-list {
    flex-wrap: wrap;
    justify-content: space-around;
}

.wtr-block {
    width: 500px;
    height: fit-content;
    margin: 20px 10px;
}

.wtr-header {
    height: fit-content;
    min-height: 30px;
    justify-content: space-between;
}

.main-block {
    margin-top: 15px;
}

.main-block .wtr-temp {
    margin-left: auto;
    font-size: 75px;
}

header h1 {
    height: 40px;
}

.func-btn, #city-name-input {
    height: 32px;
}