h1, h2, h3 {
    display: inline;
    margin: 0;
}

body {
    font-family: Hack, sans-serif;
}

header, main {
    width: 80%;
    margin: 0 auto;
}

header .wtr-list {
    margin-bottom: 20px;
}

#wtr-main .wtr-city-name {
    font-size: 35px;
}

img {
    /*border: 4px black double;*/
}

.wtr-icon {
    /*width: fit-content;*/
    /*height: 80%;*/
}

#wtr-main img {
    display: inline-block;
    width: 30%;
    height: 100px;
}

.main-block {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.main-block .wtr-temp {
    margin: auto;
    font-size: 90px;
}

.wtr-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wtr-block {
    width: 500px;
    height: fit-content;
    margin: 20px 10px;
}

ul {
    padding: 0;
    margin: 0;
}

.wtr-header {
    height: fit-content;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    float: right;
}

.wtr-cls-btn {
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

.func-btn {
    background-color: #9EA7A9;
    border-radius: 2px;
    height: 50px;
    width: 200px;
    cursor: pointer;
}

.wtr-temp {
    color: #7b7b7b;
    font-size: 25px;
}

.wtr-header {
    color: #a7a6ac;
}

.wtr-city-name {
    margin: 0;
    color: #748489;
    font-size: 20px;
}

.feat-name {
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    clear: both;
}

.feat-cont {
    background-color: #9EA7A9;
    margin-top: 5px;
    padding: 5px 10px;
    height: fit-content;
}

.feat-cont:after {
    content: " ";
    display: table;
    clear: both;
}


.feat-val {
    float: right;
    color: #f1f1f1;
}